:root {
  --off-white: #f1e8e7;
  --off-white-alpha: rgba(241, 232, 231, 0.95);
  --eerie-black: #131312;
  --eerie-black-alpha: #13131220;
  --dim-gray: #696969;
  --cotton-seed: #8c8c8c;
}

@font-face {
  font-family: "Sohne";
  src: url("/soehne-kraftig.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EditorialNew";
  src: url("/EditorialNew-Regular.woff") format("woff"),
       url("/EditorialNew-Regular.ttf") format("truetype"),
       url("/EditorialNew-Regular.otf") format("opentype"),
       url("/EditorialNew-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

