:root {
}

@font-face {
  font-family: "Sohne";
  src: url("../public/soehne-kraftig.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EditorialNew";
  src: url("../public/EditorialNew-Regular.woff2") format("woff2"),
       url("../public/EditorialNew-Regular.woff") format("woff"),
       url("../public/EditorialNew-Regular.ttf") format("truetype"),
       url("../public/EditorialNew-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

[data-theme="dark"] {
}

* {
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--off-white);
  overscroll-behavior: none;
}
