.desktop-layout .editorial-font {
  font-family: "EditorialNew";
  color: var(--eerie-black);
  letter-spacing: -1px;
}

.desktop-layout .body-font {
  font-family: monospace;
  color: var(--dim-gray);
}

.desktop-layout {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.desktop-layout .home-content {
  height: 100vh;
  position: relative;
}

.desktop-layout .home-content-name,
.desktop-layout .home-content-title {
  font-size: calc(6vw + 6vh);
  line-height: calc(6vw + 6vh);
  position: absolute;
  z-index: 2;
  padding: 2vw;
  padding-top: 3vw;
  max-width: 100px;
}

.desktop-layout .home-content-name {
  transform-origin: top;
}

.desktop-layout .home-content-title {
  bottom: 0;
  transform-origin: bottom;
}

.desktop-layout .home-content-subtitle {
  color: var(--auburn);
  font-family: monospace;
  font-size: 2vw;
  position: absolute;
  top: 50%;
  right: 35%;
  z-index: 2;
  max-width: 50vw;
  transform: translateY(-50%);
}

.desktop-layout .home-content-img {
  position: absolute;
  width: 26vw;
  height: 56dvh;
  object-fit: cover;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(50%);
}

.desktop-layout .tab {
  height: calc(100% - 4vw);
  width: 100vw;
  border-left: 0.15vw solid var(--eerie-black);
  position: absolute;
  overflow: hidden;
  background: rgba(241, 232, 231, 0.95);
  top: 2vw;
}

.desktop-layout .tab.smooth-transition {
  transition: transform 300ms ease-out;
}

.desktop-layout #paradox {
  left: calc(100% - 32%);
  z-index: 3;
}

.desktop-layout #breakup {
  left: calc(100% - 24%);
  z-index: 4;
}

.desktop-layout #approach {
  left: calc(100% - 16%);
  z-index: 5;
}

.desktop-layout #ready {
  left: calc(100% - 8%);
  z-index: 6;
}

.desktop-layout .tab-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.desktop-layout .tab .title-text {
  position: absolute;
  top: 92%;
  transform: rotate(-90deg);
  transform-origin: left;
  font-size: calc(3vh + 3vw);
  left: calc(3vh + 3vw);
  cursor: pointer;
  width: 100%;
  padding-block: 16px;
  user-select: none;
}

.desktop-layout .tab .body-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: opacity 300ms ease-out;
}

.desktop-layout .tab#paradox .body-container {
  width: 50%;
  margin-left: 5.5%;
}

.desktop-layout .tab#breakup .body-container {
  width: 50%;
  margin-left: 10%;
}

.desktop-layout .tab#approach .body-container {
  width: 50%;
  margin-left: 13%;
}

.desktop-layout .tab#ready .body-container {
  width: 85%;
}

.desktop-layout .tab .body-container .body-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--eerie-black);
  width: 100%;
  font-size: 1vw;
}

.desktop-layout .ready-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop-layout .body-content-row {
  display: flex;
  gap: 4vw;
}

.desktop-layout .body-content-column {
  flex: 1;
}

.desktop-layout .body-content-container {
  margin-top: 24px;
}

.desktop-layout .body-content-section {
  margin-bottom: 1.5vw;
  line-height: 1.5vw;
}

.desktop-layout .body-content-section.big-font {
  font-size: 1.5vw;
  line-height: 2vw;
}

.desktop-layout .approach-contents .body-content-section {
  font-size: 0.8vw;
  margin-bottom: 1vw;
  line-height: 1vw;
}

.desktop-layout .body-content-section.gray-font {
  color: var(--dim-gray);
}

.desktop-layout .tab .body-container .body-title {
  font-size: 2.65vw;
  margin-bottom: 8px;
}

.desktop-layout .tab .body-container .body-subtitle {
  font-size: 1.05vw;
  text-transform: uppercase;
  max-width: 17vw;
  text-align: center;
}

.desktop-layout .tab .body-container .body-cta {
  border: 0.1vw solid var(--eerie-black);
  border-radius: 2.5vw;
  padding-inline: 3vw;
  padding-top: 0.4vw;
  font-size: 3vw;
  text-align: center;
  background-color: var(--off-white);
  transition: background-color 300ms ease-out;
  cursor: pointer;
  margin-bottom: 0.1vw;
}

.desktop-layout .tab .body-container .body-cta:hover {
  border: 0.1vw solid var(--off-white);
  background-color: var(--eerie-black);
  color: var(--off-white);
  cursor: pointer;
}

.desktop-layout .ready-container {
  display: flex;
  height: 100%;
}

.desktop-layout .ready-container .ready-content {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 24px;
  align-items: center;
  padding-right: 60px;
  text-align: center;
}

.desktop-layout .ready-container .testimonial-content {
  flex: 3;
  border-left: 0.15vw solid var(--eerie-black);
  position: relative;
  padding-top: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop-layout .current-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 4vw;
  padding-right: 2vw;
  transition: opacity 300ms ease-out;
}

.desktop-layout .current-testimonial-content {
  text-align: center;
  margin-bottom: 2vw;
}

.desktop-layout .testimonial-counter {
  color: var(--dim-gray);
  margin-bottom: 2vw;
  display: flex;
  align-items: center;
  gap: 1vw;
  user-select: none;
  font-size: 1.1vw;
  margin-left: 2.1vw;
}

.desktop-layout .ready-container .ready-img {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  object-position: top;
  margin-bottom: 2vw;
}

.desktop-layout .butterfly {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  margin-bottom: 2vw;
  filter: grayscale();
  transition: filter 600ms ease-out;
}

.desktop-layout .butterfly:hover {
  filter: none;
}

.desktop-layout .testimonial-arrow {
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 50%;
  cursor: pointer;
}

.desktop-layout .testimonial-arrow:hover {
  fill: var(--dim-gray);
}

.desktop-layout .approach-header {
  display: flex;
  align-items: top;
  gap: 2vw;
}

.desktop-layout .approach-img {
  width: 10vw;
  object-fit: contain;
  object-position: center;
}

.desktop-layout .approach-header-text {
  font-size: 1.2vw;
  line-height: 1.5vw;
}

