.desktop-layout .editorial-font {
  font-family: "Editorial New";
  color: var(--eerie-black);
  letter-spacing: -1px;
}

.desktop-layout .body-font {
  font-family: monospace;
  color: var(--dim-gray);
}

.desktop-layout {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.desktop-layout .home-content {
  height: 100vh;
  position: relative;
}

.desktop-layout .home-content-name,
.desktop-layout .home-content-title {
  font-size: 8rem;
  position: absolute;
  z-index: 2;
  padding: 40px;
  max-width: 100px;
  line-height: 6rem;
  transform: scaleY(1.2);
}

.desktop-layout .home-content-name {
  transform-origin: top;
}

.desktop-layout .home-content-title {
  bottom: 0;
  transform-origin: bottom;
}

.desktop-layout .home-content-img {
  position: absolute;
  width: 373px;
  height: 459px;
  object-fit: cover;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(50%);
}

.desktop-layout .tab {
  height: calc(100% - 80px);
  width: 100vw;
  border-left: 2px solid var(--eerie-black);
  position: absolute;
  overflow: hidden;
  background: rgba(241, 232, 231, 0.95);
  top: 40px;
}

.desktop-layout .tab.smooth-transition {
  transition: transform 300ms ease-out;
}

.desktop-layout #paradox {
  left: calc(100% - 480px);
  z-index: 3;
}

.desktop-layout #breakup {
  left: calc(100% - 360px);
  z-index: 4;
}

.desktop-layout #approach {
  left: calc(100% - 240px);
  z-index: 5;
}

.desktop-layout #ready {
  left: calc(100% - 120px);
  z-index: 6;
}

.desktop-layout .tab-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.desktop-layout .tab .title-text {
  position: absolute;
  top: 92%;
  transform: rotate(-90deg) scaleY(1.2);
  transform-origin: left;
  left: 3.5rem;
  font-size: 4rem;
  cursor: pointer;
  width: 100%;
  padding-block: 16px;
  user-select: none;
}

.desktop-layout .tab .body-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: opacity 300ms ease-out;
}

.desktop-layout .tab#paradox .body-container {
  width: 50%;
}

.desktop-layout .tab#breakup .body-container {
  width: 60%;
}

.desktop-layout .tab#approach .body-container {
  width: 70%;
}

.desktop-layout .tab#ready .body-container {
  width: 80%;
}

.desktop-layout .tab .body-container .body-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--eerie-black);
  width: 100%;
}

.desktop-layout .ready-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop-layout .body-content-container {
  margin-top: 24px;
}

.desktop-layout .body-content-section {
  margin-bottom: 12px;
}

.desktop-layout .tab .body-container .body-title {
  font-size: 2.5rem;
  transform: scaleY(1.2);
  margin-bottom: 8px;
  max-width: 420px;
  line-height: 2.2rem;
}

.desktop-layout .tab .body-container .body-subtitle {
  font-size: 1rem;
  text-transform: uppercase;
  max-width: 250px;
  text-align: center;
}

.desktop-layout .tab .body-container .body-cta {
  border: 1px solid var(--eerie-black);
  border-radius: 54px;
  padding-inline: 40px;
  padding-block: 8px;
  font-size: 2.5rem;
  line-height: 2.3rem;
  text-align: center;
  background-color: var(--off-white);
  transition: background-color 300ms ease-out;
  cursor: pointer;
}

.desktop-layout .tab .body-container .body-cta:hover {
  border: 1px solid var(--off-white);
  background-color: var(--eerie-black);
  color: var(--off-white);
  cursor: pointer;
}

.desktop-layout .ready-container {
  display: flex;
  height: 100%;
}

.desktop-layout .ready-container .ready-content {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 24px;
  align-items: center;
  padding-right: 60px;
  text-align: center;
}

.desktop-layout .ready-container .testimonial-content {
  flex: 3;
  border-left: 2px solid var(--eerie-black);
  position: relative;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop-layout .current-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 24px;
  transition: opacity 300ms ease-out;
}

.desktop-layout .current-testimonial-content {
  text-align: center;
  margin-bottom: 24px;
}

.desktop-layout .testimonial-counter {
  color: var(--dim-gray);
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.desktop-layout .ready-container .ready-img {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  object-position: top;
  margin-bottom: 40px;
}

.desktop-layout .butterfly {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  margin-bottom: 40px;
  filter: grayscale();
  transition: filter 600ms ease-out;
}

.desktop-layout .butterfly:hover {
  filter: none;
}

.desktop-layout .testimonial-arrow {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.desktop-layout .testimonial-arrow:hover {
  fill: var(--dim-gray);
}
