.faint-grid-line {
    position: fixed;
    background-color: var(--divider-color);
}

.faint-grid-line.horizontal {
    width: 100vw;
    height: 1px;
}

.faint-grid-line.horizontal.top {
    top: 20px;
}

.faint-grid-line.horizontal.bottom {
    bottom: 20px;
}

.faint-grid-line.vertical {
    width: 1px;
    height: 100dvh;
}

.faint-grid-line.vertical.left {
    left: 20px;
}

.faint-grid-line.vertical.a {
    left: calc(30% - 10px);
}

.faint-grid-line.vertical.b {
    left: calc(30% + 10px);
}

.faint-grid-line.vertical.c {
    left: calc(60% - 10px);
}

.faint-grid-line.vertical.d {
    left: calc(60% + 10px);
}

.faint-grid-line.vertical.e {
    left: calc(80% - 10px);
}

.faint-grid-line.vertical.f {
    left: calc(80% + 10px);
}

.faint-grid-line.vertical.right {
    right: 20px
}