:root {
  --off-white: #f1e8e7;
  --off-white-alpha: rgba(241, 232, 231, 0.95);
  --eerie-black: #131312;
  --eerie-black-alpha: #13131220;
  --dim-gray: #696969;
  --cotton-seed: #8c8c8c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
