:root {
	--clr-primary-50: #fdfce5;
	--clr-primary-100: #f9f6bf;
	--clr-primary-200: #f5f094;
	--clr-primary-300: #f1ea68;
	--clr-primary-400: #eee644;
	--clr-primary-500: #ede219;
	--clr-primary: var(--clr-primary-500);
	--clr-primary-600: #ecd00e;
	--clr-primary-700: #ecb800;
	--clr-primary-800: #eb9f00;
	--clr-primary-900: #e97500;
	--clr-complementary-50: #eee7fe;
	--clr-complementary-100: #d3c4fd;
	--clr-complementary-200: #b49dfd;
	--clr-complementary-300: #9273fe;
	--clr-complementary-400: #7452fe;
	--clr-complementary-500: #4f2ffc;
	--clr-complementary-600: #3e2bf5;
	--clr-complementary-700: #1923ed;
	--clr-complementary: var(--clr-complementary-700);
	--clr-complementary-800: #001de8;
	--clr-complementary-900: #000de2;
	--clr-analogous-1-50: #fefce6;
	--clr-analogous-1-100: #fef6c2;
	--clr-analogous-1-200: #fcf09a;
	--clr-analogous-1-300: #fbea73;
	--clr-analogous-1-400: #f9e554;
	--clr-analogous-1-500: #f7e035;
	--clr-analogous-1-600: #f7d033;
	--clr-analogous-1-700: #f5b82c;
	--clr-analogous-1-800: #f2a025;
	--clr-analogous-1-900: #ed7819;
	--clr-analogous-1: var(--clr-analogous-1-900);
	--clr-analogous-2-50: #f2fde4;
	--clr-analogous-2-100: #ddf9bd;
	--clr-analogous-2-200: #c4f68f;
	--clr-analogous-2-300: #a8f159;
	--clr-analogous-2-400: #8ded19;
	--clr-analogous-2: var(--clr-analogous-2-400);
	--clr-analogous-2-500: #72e800;
	--clr-analogous-2-600: #5fd700;
	--clr-analogous-2-700: #3fc200;
	--clr-analogous-2-800: #05ae00;
	--clr-analogous-2-900: #008a00;
	--clr-triadic-1-50: #ecfee8;
	--clr-triadic-1-100: #d0fcc6;
	--clr-triadic-1-200: #aff9a0;
	--clr-triadic-1-300: #87f674;
	--clr-triadic-1-400: #5ff14d;
	--clr-triadic-1-500: #23ed19;
	--clr-triadic-1: var(--clr-triadic-1-500);
	--clr-triadic-1-600: #00db0c;
	--clr-triadic-1-700: #00c500;
	--clr-triadic-1-800: #00b100;
	--clr-triadic-1-900: #008d00;
	--clr-triadic-2-50: #d8fbf9;
	--clr-triadic-2-100: #99f4ee;
	--clr-triadic-2-200: #19ede2;
	--clr-triadic-2: var(--clr-triadic-2-200);
	--clr-triadic-2-300: #00e2d2;
	--clr-triadic-2-400: #00d5c3;
	--clr-triadic-2-500: #00cab3;
	--clr-triadic-2-600: #00bba4;
	--clr-triadic-2-700: #00a890;
	--clr-triadic-2-800: #009780;
	--clr-triadic-2-900: #00795e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
