.mobile-layout .editorial-font {
  font-family: "Editorial New";
  color: var(--eerie-black);
  letter-spacing: -1px;
}

.mobile-layout .body-font {
  font-family: monospace;
  color: var(--dim-gray);
}

.mobile-layout {
  width: 100vw;
  height: 100dvh;
  position: fixed;
}

.mobile-layout .home-content {
  height: 100dvh;
  position: relative;
}

.mobile-layout .home-content-name,
.mobile-layout .home-content-title {
  font-size: 5rem;
  position: absolute;
  z-index: 2;
  padding: 20px;
  max-width: 100px;
  line-height: 4rem;
}

.mobile-layout .home-content-name {
  transform-origin: top;
}

.mobile-layout .home-content-title {
  bottom: 50%;
  transform-origin: top;
  transform: translateY(35%);
}

.mobile-layout .home-content-img {
  position: absolute;
  top: 25%;
  right: 24px;
  width: 37vw;
  height: 26dvh;
  object-fit: cover;
}

.mobile-layout .tab {
  height: 100dvh;
  width: calc(100vw - 32px);
  left: 16px;
  border-top: 2px solid var(--eerie-black);
  position: absolute;
  overflow: hidden;
  background: var(--off-white-alpha);
}

.mobile-layout .tab.smooth-transition {
  transition: transform 300ms ease-out;
}

.mobile-layout #paradox {
  top: calc(100% - 208px);
  z-index: 3;
}

.mobile-layout #breakup {
  top: calc(100% - 160px);
  z-index: 4;
}

.mobile-layout #approach {
  top: calc(100% - 112px);
  z-index: 5;
}

.mobile-layout #ready {
  top: calc(100% - 64px);
  z-index: 6;
}

.mobile-layout .tab-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.mobile-layout .tab .title-text {
  font-size: 2rem;
  line-height: 2.75rem;
}

.mobile-layout .tab .body-container {
  opacity: 0;
  transform: translateY(12px);
  transition: opacity 300ms 300ms ease-out, transform 300ms 300ms ease-out;
}

.mobile-layout .tab .body-container.showing {
  opacity: 1;
  transform: translateY(0px);
}

.mobile-layout .tab .body-container .body-content {
  color: var(--eerie-black);
  overflow-y: auto;
  padding-bottom: 24px;
  background:
		/* Shadow covers */ linear-gradient(
      var(--off-white) 30%,
      transparent
    ),
    linear-gradient(transparent, var(--off-white) 70%) 0 100%,
    /* Shadows */
      radial-gradient(
        farthest-side at 50% 0,
        var(--eerie-black-alpha),
        transparent
      ),
    radial-gradient(
        farthest-side at 50% 100%,
        var(--eerie-black-alpha),
        transparent
      )
      0 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

.mobile-layout .body-content-container {
  margin-top: 24px;
}

.mobile-layout .body-content-section {
  margin-bottom: 12px;
}

.mobile-layout .tab#paradox .body-container .body-content {
  max-height: calc(100dvh - 258px);
}

.mobile-layout .tab#breakup .body-container .body-content {
  max-height: calc(100dvh - 218px);
}

.mobile-layout .tab#approach .body-container .body-content {
  max-height: calc(100dvh - 178px);
}

.mobile-layout .tab#ready .body-container .body-content {
  height: calc(100dvh - 138px);
}

.mobile-layout .tab .body-container .body-title {
  font-family: monospace;
  font-size: 1rem;
  color: var(--dim-gray);
  margin-bottom: 24px;
  max-width: 250px;
  text-transform: uppercase;
}

.mobile-layout .tab .body-container .body-subtitle {
  display: none;
}

.mobile-layout .ready-body-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-layout .tab .body-container .body-cta {
  border: 2px solid var(--eerie-black);
  border-radius: 54px;
  width: 212px;
  height: 50px;
  font-size: 2rem;
  line-height: 1.75rem;
  text-align: center;
  background-color: var(--off-white);
  transition: background-color 300ms ease-out;
  cursor: pointer;
  margin-bottom: 24px;
}

.mobile-layout .ready-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-layout .ready-container .ready-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mobile-layout .ready-container .testimonial-content {
  flex: 1;
  border-top: 2px solid var(--eerie-black);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 50%;
}

.mobile-layout .current-testimonial {
  display: flex;
  flex-direction: column;
  transition: opacity 300ms ease-out;
}

.mobile-layout .current-testimonial-content {
  text-align: left;
  margin-bottom: 24px;
  color: var(--eerie-black);
}

.mobile-layout .testimonial-counter {
  color: var(--dim-gray);
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.mobile-layout .ready-container .ready-img {
  width: 40vw;
  height: 40vw;
  object-fit: cover;
  object-position: top;
  margin-block: 12px;
}

.mobile-layout .testimonial-arrow {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.mobile-layout .butterfly {
  width: 40vw;
  height: 40vw;
  object-fit: cover;
  margin-bottom: 24px;
  filter: grayscale();
  transition: filter 600ms ease-out;
}

.mobile-layout .butterfly:active {
  filter: none;
}
