.mobile-layout .editorial-font {
  font-family: "EditorialNew";
  color: var(--eerie-black);
  letter-spacing: -1px;
}

.mobile-layout .body-font {
  font-family: monospace;
  color: var(--dim-gray);
}

.mobile-layout {
  width: 100vw;
  height: 100dvh;
  position: fixed;
}

.mobile-layout .home-content {
  height: 60dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (orientation: landscape) {
  .mobile-layout .home-content {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
  }
}

.mobile-layout .home-content-name,
.mobile-layout .home-content-title {
  font-size: calc(6vw + 6vh);
  line-height: calc(6vw + 6vh);
  padding: 20px;
  max-width: 100px;
}

@media (orientation: landscape) {
  .mobile-layout .home-content-name,
  .mobile-layout .home-content-title {
    max-width: unset;
  }
}

.mobile-layout .home-content-img-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -10vw;
  margin-bottom: -14vw;
  margin-right: 8vw;
  position: relative;
}

@media (orientation: landscape) {
  .mobile-layout .home-content-img-container {
    display: inline;
    margin-top: 2vh;
    margin-left: -20vw;
    margin-right: 0;
    position: static;
  }
}

.mobile-layout .home-content-img {
  width: 42vw;
  height: 31dvh;
  object-fit: cover;
  object-position: top;
  opacity: 0.8;
}

@media (orientation: landscape) {
  .mobile-layout .home-content-img {
    object-fit: contain;
    height: 38dvh;
    width: auto;
  }
}

.mobile-layout .home-content-subtitle {
  position: absolute;
  top: 50%;
  width: 100%;
  max-width: 75vw;
  transform: translateY(-50%) translateX(-47%);
  z-index: 2;
  font-size: 4.5vw;
  left: 50%;
  color: var(--auburn);
  font-family: monospace;
  text-align: center;
}

@media (orientation: landscape) {
  .mobile-layout .home-content-subtitle {
    max-width: unset;
    width: 100vw;
    bottom: -0.5vw;
    transform: unset;
    font-size: 2vw;
    right: 0;
    left: 0;
    top: unset;
  }
}

.mobile-layout .tab {
  height: 100dvh;
  width: calc(100vw - 32px);
  left: 16px;
  border-top: 2px solid var(--eerie-black);
  position: absolute;
  overflow: hidden;
  background: var(--off-white-alpha);
  backdrop-filter: blur(4px);
}

.mobile-layout .tab.smooth-transition {
  transition: transform 300ms ease-out;
}

.mobile-layout #paradox {
  top: calc(100% - 31.2vh);
  z-index: 3;
}

@media (orientation: landscape) {
  .mobile-layout #paradox {
    top: calc(100% - 22vw);
  }
}

.mobile-layout #breakup {
  top: calc(100% - 24vh);
  z-index: 4;
}

@media (orientation: landscape) {
  .mobile-layout #breakup {
    top: calc(100% - 17vw);
  }
}

.mobile-layout #approach {
  top: calc(100% - 16.8vh);
  z-index: 5;
}

@media (orientation: landscape) {
  .mobile-layout #approach {
    top: calc(100% - 12vw);
  }
}

.mobile-layout #ready {
  top: calc(100% - 9.6vh);
  z-index: 6;
}

@media (orientation: landscape) {
  .mobile-layout #ready {
    top: calc(100% - 7vw);
  }
}

.mobile-layout .tab-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.mobile-layout .tab .title-text {
  font-size: calc(6vw + 1vh);
  display: flex;
  height: 7.2vh;
  align-items: center;
}

@media (orientation: landscape) {
  .mobile-layout .tab .title-text {
    font-size: calc(5vh + 1vw);
    height: 5vw;
  }
}

.mobile-layout .tab .body-container {
  opacity: 0;
  transition: opacity 300ms 300ms ease-out;
}

.mobile-layout .tab .body-container.showing {
  opacity: 1;
}

.mobile-layout .tab .body-container .body-content {
  color: var(--eerie-black);
  overflow-y: auto;
  padding-bottom: 24px;
  background:
		/* Shadow covers */ linear-gradient(
      var(--off-white) 30%,
      transparent
    ),
    linear-gradient(transparent, var(--off-white) 70%) 0 100%,
    /* Shadows */
      radial-gradient(
        farthest-side at 50% 0,
        var(--eerie-black-alpha),
        transparent
      ),
    radial-gradient(
        farthest-side at 50% 100%,
        var(--eerie-black-alpha),
        transparent
      )
      0 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

.mobile-layout .body-content-container {
  margin-top: 24px;
}

.mobile-layout .body-content-section {
  margin-bottom: 8vw;
}

.mobile-layout .body-content-section.big-font {
  font-size: 5vw;
  line-height: 7vw;
}

@media (orientation: landscape) {
  .mobile-layout .body-content-section.big-font {
    font-size: 5vh;
    line-height: 7vh;
  }

  .mobile-layout .body-content-section {
    margin-bottom: 8vh;
  }
}

.mobile-layout .body-content-section.gray-font {
  color: var(--dim-gray);
}

.mobile-layout .tab#paradox .body-container .body-content {
  max-height: calc(100dvh - 85vw);
}

.mobile-layout .tab#breakup .body-container .body-content {
  max-height: calc(100dvh - 72vw);
}

.mobile-layout .tab#approach .body-container .body-content {
  max-height: calc(100dvh - 62vw);
}

.mobile-layout .tab#ready .body-container .body-content {
  height: calc(100dvh - 35vw);
}

@media (orientation: landscape) {
  .mobile-layout .tab#paradox .body-container .body-content {
    max-height: calc(100dvh - 30vw);
  }

  .mobile-layout .tab#breakup .body-container .body-content {
    max-height: calc(100dvh - 25vw);
  }

  .mobile-layout .tab#approach .body-container .body-content {
    max-height: calc(100dvh - 20vw);
  }

  .mobile-layout .tab#ready .body-container .body-content {
    height: calc(100dvh - 15vw);
  }
}

.mobile-layout .tab .body-container .body-title {
  font-family: monospace;
  font-size: 1rem;
  color: var(--dim-gray);
  margin-bottom: 24px;
  max-width: 250px;
  text-transform: uppercase;
}

.mobile-layout .tab .body-container .body-subtitle {
  font-size: 3.5vw;
  text-transform: uppercase;
  max-width: 45vw;
}

@media (orientation: landscape) {
  .mobile-layout .tab .body-container .body-subtitle {
    font-size: 3.5vh;
  }
}

.mobile-layout .ready-body-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8vw;
}

.mobile-layout .tab .body-container .body-cta {
  border: 2px solid var(--eerie-black);
  border-radius: 54px;
  width: 212px;
  height: 50px;
  font-size: 2rem;
  text-align: center;
  background-color: var(--off-white);
  transition: background-color 300ms ease-out;
  cursor: pointer;
  margin-bottom: 24px;
  padding-top: 4px;
}

.mobile-layout .ready-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-layout .ready-container .ready-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mobile-layout .ready-container .testimonial-content {
  flex: 1;
  border-top: 2px solid var(--eerie-black);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 50%;
}

.mobile-layout .current-testimonial {
  display: flex;
  flex-direction: column;
  transition: opacity 300ms ease-out;
}

.mobile-layout .current-testimonial-content {
  text-align: left;
  margin-bottom: 24px;
  color: var(--eerie-black);
}

.mobile-layout .testimonial-counter {
  color: var(--dim-gray);
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 16px;
  user-select: none;
}

.mobile-layout .ready-container .ready-img {
  width: 40vw;
  height: 40vw;
  object-fit: cover;
  object-position: top;
  margin-block: 12px;
}

.mobile-layout .testimonial-arrow {
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  cursor: pointer;
  fill: var(--auburn);
}

.mobile-layout .butterfly {
  max-width: 100%;
  width: 40vw;
  height: 40vw;
  object-fit: cover;
  margin-bottom: 24px;
  filter: grayscale();
  transition: filter 600ms ease-out;
}

@media (orientation: landscape) {
  .mobile-layout .butterfly {
    width: 40vh;
    height: 40vh;
  }
}

.mobile-layout .butterfly:active {
  filter: none;
}

.mobile-layout .approach-header {
  display: flex;
  align-items: top;
  gap: 4vw;
}

.mobile-layout .approach-img {
  width: 40vw;
  object-fit: contain;
  object-position: center;
}

.mobile-layout .approach-header-text {
  font-size: 3vw;
  line-height: 4.5vw;
}

@media (orientation: landscape) {
  .mobile-layout .approach-header {
    display: flex;
    align-items: top;
    gap: 4vh;
  }

  .mobile-layout .approach-img {
    width: 40vh;
    object-fit: contain;
    object-position: center;
  }

  .mobile-layout .approach-header-text {
    font-size: 5vh;
    line-height: 7vh;
  }
}

.mobile-layout .tab .body-container .testimonials-and-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  margin-top: 15vw;
}

.mobile-layout .tab .body-container .links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20vw;
}

.mobile-layout .tab .body-container .social-link {
  line-height: 2.2vw;
  cursor: pointer;
  text-decoration: none;
  font-family: 'EditorialNew';
  color: var(--eerie-black);
  text-transform: none;
  font-size: calc(6vw + 1vh);
}

.mobile-layout .tab .body-container .social-link:hover {
  color: var(--dim-gray);
}

.mobile-layout .tab .body-container .policy-link {
  line-height: 5.2vw;
  cursor: pointer;
}

.mobile-layout .tab .body-container .policy-link:hover {
  color: var(--eerie-black);
}

.mobile-layout .hide-on-mobile {
  display: none !important;
}